@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Plus+Jakarta+Sans:wght@400;500;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.center-flex {
  @apply flex justify-center items-center;
}

.upperText {
  @apply text-lightGrey font-bold md:leading-[120%] text-center;
}

.headingTitle {
  @apply lg:text-7xl md:text-5xl sm:text-4xl text-4xl font-extrabold md:leading-[80px] text-lightGrey md:max-w-[60%] text-center;
}

.burger {
  width: 30px;
  height: 3px;
  transition: all;
  transition-duration: 250ms;
  @apply bg-gray-500;
}
.burger-2 {
  margin: 5px auto;
  opacity: 1;
}
.toggled.burger.burger-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggled.burger.burger-2 {
  opacity: 0;
}
.toggled.burger.burger-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
